* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

li {
  list-style-type: none; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 600; }

.header {
  max-width: 120rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem; }
  .header__logo img {
    max-width: 50rem;
    height: auto; }
  .header__nav-container {
    display: flex;
    font-size: 1.6rem; }
    .header__nav-container--list {
      display: flex;
      align-items: center;
      list-style-type: none; }
      .header__nav-container--list--item a {
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 2rem; }

.layout {
  max-width: 120rem;
  margin: 2rem auto;
  min-height: 50rem;
  font-size: 1.6rem; }
  .layout__clinic {
    display: flex;
    justify-content: space-around; }
    .layout__clinic img {
      max-width: 39rem;
      height: auto;
      height: auto; }
  .layout__cards {
    padding-top: 15rem;
    display: flex;
    justify-content: space-evenly; }
    .layout__cards--icon {
      margin: 0 auto;
      color: rgba(22, 109, 55, 0.9);
      width: 5rem;
      height: 5rem;
      transition: all 0.2s; }
      .layout__cards--icon:hover {
        color: #166d37; }
    .layout__cards--title {
      padding-bottom: 2rem; }
    .layout__cards--list {
      text-align: left; }
    .layout__cards--card {
      padding: 2.5rem;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      flex: 0 0 20em;
      transition: all 0.2s; }
      .layout__cards--card:hover {
        transform: translateY(-1.5rem) scale(1.03); }
