.layout {
  max-width: 120rem;
  margin: 2rem auto;

  font-size: 1.6rem;

  &__clinic {
    display: flex;
    justify-content: space-around;

    img {
      width: 39rem;
      height: auto;
    }
  }

  &__cards {
    padding-top: 10rem;
    display: flex;
    justify-content: space-evenly;

    &--icon {
      margin: 0 auto;
      color: rgba($color-primary-green, 0.9);
      width: 5rem;
      height: 5rem;
      transition: all 0.2s;

      &:hover {
        color: rgba($color-primary-green, 1);
      }
    }

    &--title {
      padding-bottom: 2rem;
    }

    &--list {
      text-align: left;
    }

    &--card {
      padding: 2.5rem;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
      flex: 0 0 20em;
      transition: all 0.2s;

      &:hover {
        transform: translateY(-1.5rem) scale(1.03);
      }
    }
  }

  &__about {
    padding-bottom: 8rem;
    &__heading {
      text-align: center;
      padding: 8rem;
      text-transform: uppercase;
    }
  }

  &__contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

    &__heading {
      text-align: center;
      padding: 5rem;
      text-transform: uppercase;
    }

    &--clinic a {
      color: $color-primary-green;
      text-decoration: none;
      border-bottom: 1px dotted $color-primary-green;
      &:hover {
        color: $color-grey-dark-3;
      }
    }
    &--clinic svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    &--pharm a {
      color: $color-primary-green;
      text-decoration: none;
      border-bottom: 1px dotted $color-primary-green;
      &:hover {
        color: $color-grey-dark-3;
      }
    }
    &--pharm svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    &--location a {
      color: $color-primary-green;
      text-decoration: none;
      border-bottom: 1px dotted $color-primary-green;

      &:hover {
        color: $color-grey-dark-3;
      }
    }
    &--location svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
